<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.error_message_on :title %>
	</p>
<p>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<%= f.error_message_on :url %>
</p>
<p>
	<%= f.label :notes %>
	<%= f.text_area :notes %>
	<%= f.error_message_on :notes %>
</p>

<p>
	<%= f.label :tag_list, "Tags" %>
	<%= f.text_field :tag_list %>
	<%= f.error_message_on :tag_list %>
</p>
